* {
  caret-color: transparent;
  font-family: 'Comfortaa', cursive;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: /*linear-gradient(217deg, rgba(255,0,0,.65), rgba(255,0,0,0.15) 70.71%); */
            /* linear-gradient(127deg, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%), */
            linear-gradient(217deg, rgba(220, 200, 255, 1), rgba(220, 200, 255, 0.15) 70.71%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#guesses {
  position: relative;
  width: 200rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.5em;
  align-items: center;
}

.score_change {
  position: absolute;
  bottom: 50%;
  font-weight: 700;
  color: green;
  animation: score_anim 2s linear forwards;
}

div > div {
  border: 2px solid rgba(0, 0, 0, 0.34);
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
}

.selected {
  background-color: rgba(255, 202, 104, 0.25);
}

#timer {
  font-size: 64pt;
  margin-bottom: 0.25em;
}

.time-ending {
  color: red;
}

#random_letters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3em;
  /* margin-bottom: 3rem; */
  margin-bottom: 6rem;
  padding: 1em;
  /* border: 0.25em solid; */
  border-radius: 0.35em;
}

@keyframes score_anim {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 200%;
    display: none;
  }
}

span > div {
  font-size: 56pt;
}

#score {
  font-size: 24pt;
  margin-top: 1em;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#countdown {
  font-size: 50pt;
  color: rgb(160, 157, 157);
}

@media (max-width: 764px) {
  #guesses {
    column-gap: 1.25em;
  }

  #random_letters {
    margin-bottom: 4rem;
  }

  div > div {
    border: 2px solid rgba(0, 0, 0, 0.34);
    width: 1.8em;
    height: 1.8em;
    border-radius: 0.25em;
    font-size: 18pt;
  }

  span > div {
    font-size: 40pt;
  }

  #timer {
    font-size: 56pt;
    margin-bottom: 0.25em;
  }

}

@media (max-width: 580px) {
  #guesses {
    column-gap: 1em;
  }

  span > div {
    font-size: 25pt;
  }

  #timer {
    font-size: 48pt;
    margin-bottom: 0.25em;
  }
}

@media (max-width: 380px) {
  #random_letters {
    column-gap: 2.5em;
  }

  div > div {
    border: 2px solid rgba(0, 0, 0, 0.34);
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.25em;
    font-size: 15pt;
  }

  span > div {
    font-size: 21pt;
  }

  #timer {
    font-size: 40pt;
    margin-bottom: 0.25em;
  }

  #score {
    font-size: 20pt;
  }
}