* {
  font-family: 'Comfortaa', cursive;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

#size-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 14% 0 21%;
    align-items: center;
    padding: 0;
}

#size {
    /* margin-right: 30px; */
    font-size: 15pt;
    padding: 0;
}

#ranking {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rank-elem {
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    align-items: center;
    transition: order 1s;
}

.rank {
    flex-basis: 5%;
    font-weight: 700;
    font-size: 30pt;
    text-align: center;
    height: 100%;
}

.team_name {
    /* flex-basis: 15%; */
    width: 12rem;
    color: rgb(22, 22, 97);
    font-size: 20pt;
    font-weight: 700;
}

.score {
    /* margin-left: 10%; */
    width: 4rem;
    color: rgb(78, 78, 78);
    font-size: 24pt;
}

.container {
    background-color: rgb(148, 104, 138);
    width: 100%;
    height: 2em;
    border-radius: 2em;
}

.progress {
    background-color: rgb(94, 32, 79);
    height: 2em;
    border-radius: 2em;
    transition: all 0.2s;
}

.stopLiveUpdates {
    background-color: rgba(0, 0, 0, 0.5);
}

.timer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#timer {
    font-size: 30pt;
    padding: 10px;
    background-color: gray;
    color: white;
}

#time-ending {
    color: red;
}

@media (max-width: 450px) {
    .container {
        display: none;
    }

    .rank-elem {
        justify-content: space-between;
    }

    #timer {
        font-size: 20pt;
    }
}